<!DOCTYPE html>
<html>

<head>
  <title>Submit Form</title>
</head>

<body>
  <h1>Submit Your Info</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul style="color: red;">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <form action="{{ url_for('submit') }}" method="post">
    <label>Name:</label><br>
    <input type="text" name="name"><br><br>

    <label>Email:</label><br>
    <input type="email" name="email"><br><br>

    <input type="submit" value="Submit">
  </form>
  <br/>
  <br/>
  <a href="{{ url_for('api') }}">View API response</a>
    <a href="{{ url_for('view') }}">View Stored data in MongoDB</a>
</body>

</html>